body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  line-height: 16px;
}
header {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0.02em;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}
.logo-color {
  color: #2196f3;
}
.site-navi {
  list-style-type: none;
}
.navi-item {
  text-decoration: none;
  color: #212121;
}
.contacts {
  list-style-type: none;
}
.contact {
  text-decoration: none;
  color: #757575;
}
.navi-item:hover,
.navi-item:focus,
.contact:hover,
.contact:focus {
  color: #2196f3;
}
.title {
  background-color: #2f303a;
  color: #ffffff;
}
.title-text {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.title-button {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  border-color: #2f303a;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.list {
  list-style-type: none;
}
.list-heading {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.second-title-list {
  list-style-type: none;
}
.our-team {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.our-team-list {
  list-style-type: none;
}
.name {
  font-weight: 500;
}
.workplace {
  color: #757575;
}
.bottom {
  background-color: #2f303a;
  line-height: 1.71;
}
.logo-footer {
  color: #ffffff;
}
.address {
  color: #ffffff;
}
.portfolio-button {
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.portfolio-button-list {
  list-style-type: none;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.box {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.box-list {
  list-style-type: none;
}
.box-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.box-filter {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
